/*********************
Body
*********************/

body {
  font-family: Montserrat Medium, sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #12284c;
  margin: 0;
  padding: 0;
}

/*********************
Start: Navigation bar
**********************/

#main_nav {
  position: relative;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: Montserrat Medium, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  /*background-color: tomato;*/
}

.top_part {
  display: flex;
  /*background-color: aqua;*/
  padding: 10px 50px;
}

.top_part > div {
  /*background-color: rgb(255, 225, 57);*/
  margin: 2px;
  flex-basis: 100%;
}

.bottom_part {
  clear: both;
}

.top_part ul,
.bottom_part ul {
  display: flex;
  margin: 0px;
  list-style-type: none;
  flex: 1 1 0%;
  padding: 0px;
  /*background-color: chocolate;*/
}

.top_part ul > li {
  justify-self: center;
  /*text-align: right;*/
  flex-basis: 100%;
  /*background-color: crimson;*/
  /*flex-wrap: nowrap;*/
  height: 30px;
}

.bottom_part ul li {
  /*justify-self: center;*/
  /*width: 150px;*/
  /*padding: 5px;*/
  margin: 1px;
  flex-basis: 100%;
  /*background-color: thistle;*/
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  flex: 1 1 0%;
  font-size: 16px;
}

.menu li:hover {
  border-bottom: 3px solid #12284c;
}

.top_part ul li a,
.bottom_part ul li a {
  text-decoration: none;
  text-align: center;
  color: #5e769b;
  /*padding-left: 7px;
    padding-right: 20px;*/
  box-sizing: border-box;
  width: 100%;
}

.navItem {
  /*align-self: flex-end;*/
  width: 80%;
  right: 0;
  float: right;
}

.navItem li {
  /*background-color: tomato;*/
  margin: 1px;
  text-align: center;
  padding: 3px;
}

.navItem li a i,
.top_part .location a i {
  font-size: 20px;
}

.location a {
  text-decoration: none;
  color: #12284c;
}

.logo img {
  min-width: 150px;
  max-width: 200px;
}

.logo {
  align-self: center;
  flex-shrink: 2;
}

.navItem > li:hover {
  color: #12284c;
  transition: cubic-bezier(0.86, 0, 0.07, 1);
}

/*********************
End: Navigation bar
**********************/

/*************************
Start: Carousel Section
*************************/

.announcement-bar {
  width: 100%;
  margin: auto;
  background-color: #12284c;
  color: white;
  padding: 1px;
}

/*************************
End: Carousel Section
*************************/

#items {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  grid-gap: 4%;
  margin: 3%;
  margin-bottom: 400px;
  text-align: center;
  width: 73%;
  margin-left: 2% !important;
  float: right;
}
.new_arrivals {
  width: 73%;
  float: right;
  border-bottom: 2px solid #dcdcdc;
  margin-bottom: 20px;
}
#mySelect {
    float: right;
    border: 0.5px solid #dcdcdc;
    color: #12284c;
    cursor: pointer;
    font-size: 14px;
    font-family: Montserrat Light, sans-serif;
    height: 40px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    letter-spacing: 0.2px;
    line-height: 40px;
    padding: 0 10px;
    width: 200px;
    margin-right: 50px;
  }
  .CollectionTitle {
    color: #12284c;
    font-family: Montserrat Regular, sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
    float: left;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

.page_navigator {
  margin-left: 4%;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0 10px;
  font-family: Montserrat Light, sans-serif;
}
.page_navigator span {
  color: #12284c;
  font-family: Montserrat Medium, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin: 0 10px 0 0;
  padding: 0;
  text-transform: capitalize;
}

#sorting_options {
  float: left;
  width: 15%;
  margin-left: 70px;
}
#sorting_options div {
  margin-bottom: 15px;
}



.SortHeader {
  float: right;
  color: #12284c;
  font-size: 14px;
  font-family: Montserrat Medium, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  line-height: 40px;
  margin-right: 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.FiltersHeader {
  color: #12284c;
  font-family: Montserrat Medium, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-bottom: 25px;
  margin-top: 40px;
  text-transform: uppercase;
}

.dropbtn {
  background-color: white;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  color: #12284c;
  font-size: 14px;
  font-family: Montserrat Medium, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  /* line-height: 24px; */
  border-bottom: 1px solid #d8d8d8;
  /* padding-top: 15px; */
  height: 50px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 15%;
  margin-top: 0px;
  overflow: auto;
  box-sizing: border-box;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  width: 20px;
  height: 100px;
  background: #fff;
  border: 0px solid #c4c9ca;
  border-radius: 3px;
  /* margin: auto 10px auto 0; */
}

.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.filter_box {
    height: 50px;
}

.FilterName {
  color: #12284c;
  font-size: 14px;
  font-family: Montserrat Light, sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 27px;
  text-transform: capitalize;
}

.FilterType {
  text-transform: capitalize;
}
.TotalFilters {
  font-size: 10px;
  font-family: Montserrat Light, sans-serif;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: 0.14px;
  line-height: 13px;
  margin-top: 5px;
}
.Icon {
  height: 16px;
  width: 16px;
  margin:  0;
  position: absolute;
  right: 0;
  top: calc(50% - 8px);
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}


/****************************
Start: Footer part
****************************/

.footer-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 30px;
    border-top: 2px solid #DCDCDC;
    /*background-color: #769ad3;*/
}

.newsletter {
    /*flex-basis: 300px;*/
    flex: 0 1 auto; /* SOMETHING IS GOING WRONG ON DECREASING WINDOW WIDTH */
    margin: 0px 20px;
    max-width: 50ch;
    min-width: 30ch;
    /*background-color: burlywood;*/
}

.newsletter > .icons {
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
    max-width: 90%;
    font-size: 30px;
    color: #12284C;
}

.footer-navwrap {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    /*background-color: brown;*/
    justify-content: space-between;
    min-width: 600px; /* CHANGE THIS IN FUTURE TO MAKE IT PROPERLY RESPONSIVE*/
}

.footer-navwrap > * {
    justify-items: space-between;
    flex-basis: 100%;
    margin-bottom: 5px;
    /*background-color: aqua;*/
    color: #12284C;
    /*overflow: visible;*/
    font-weight: normal;    
}

.footer-navwrap > div > * > * {
    margin: 20px auto;
}
.footer-navwrap ul, .footer-navwrap li a{
    color: #12284C;
    list-style-type: none;
    padding: 0px;
    text-decoration: none;
}

.footer-mail {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #12284C;
}

.footer-mail:focus {
    outline: none;
}

#arrow-submit-btn {
    border: none;
    outline: none;
    /*border-bottom: 1px solid #12284C;*/
    margin: 0px;
    padding: 0px;
    height: 30px;
    background-color: white;
}

#arrow-submit-btn:hover {
    cursor: pointer;
}

#mail-submission-success-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: #12284C;
    transition: 2s;
}

#mail-submission-success-overlay > div{
    font-size: 20px;
    width: 300px;
    height: 300px;
    padding: 50px;
    margin: 5% auto;
    /*align-content: center;*/
    background-color: white;
    border-radius: 15px;
    
}

#mail-submission-success-overlay > div > img {
    width: 50px;
    margin-top: 50px;
}

#hide-overlay {
    color: #12284C;
    color: #12284C;
    border: 2px solid #12284C;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    /* height: 40px; */
    padding: 10px;
    font-size: 20px;
}

#hide-overlay:hover {
    cursor: pointer;
    background-color: #12284C;
    color: white;
}

.footer-mail:focus {
    background-color: white;
}

.specials {
    display: flex;
    /*flex: 0 1 0%;*/
    /*background-color: darksalmon;*/
    padding: 2%;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.specials > div {
    align-self: center;
    margin: 25px;
    /*background-color: darkseagreen;*/
    flex-basis: 100%;
    text-align: center;
}

.specials > div > img {
    width: 100%;
    object-fit: cover;
}

.context {
    width: 70%;
    margin: auto;
    /*background-color: darkslategray;*/
}