/*********************
Body
*********************/

body {
  font-family: Montserrat light,sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #12284C;
  margin: 0;
  padding: 0;
}

/*********************
Start: Navigation bar
**********************/

#main_nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 3px 0px #12284C; */
  border-bottom: 2px solid #DCDCDC;
  background-color: white;
  text-transform: uppercase;
  font-family: Montserrat Medium,sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.top_part {
  display: flex;
  padding: 10px 50px;
}

.top_part > div {
  margin: 2px;
  flex-basis: 100%;
}

.bottom_part {
  clear: both;
}

.top_part ul, .bottom_part ul{
  display: flex;
  margin: 0px;
  list-style-type: none;
  flex: 1 1 0%;
  padding: 0px;
}

.top_part ul > li {
  justify-self: center;
  flex-basis: 100%;
  /*flex-wrap: nowrap;*/
  height: 30px;
}

.bottom_part ul li {
  margin: 1px;
  flex-basis: 100%;
}

.main_menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  flex: 1 1 0%;
  font-size: 16px;
}

.main_menu li:hover {
  border-bottom: 3px solid #12284C;
}

.top_part ul li a, .bottom_part ul li a {
  text-decoration: none;
  text-align: center;
  color: #5E769B;
  /*padding-left: 7px;
  padding-right: 20px;*/
  box-sizing: border-box;
  width: 100%;
}

.navItem {
  width: 80%;
  right: 0;
  float: right;
}

.navItem li {
  margin: 1px;
  text-align: center;
  padding: 3px;
}

.navItem li a i, .top_part .location a i {
  font-size: 20px;
}

.location a {
  text-decoration: none;
  color: #12284C;
}

.logo img {
  min-width: 150px;
  max-width: 200px;
}

.logo { 
  align-self: center;
  flex-shrink: 2;
}

.navItem > li:hover {
  color: #12284C;
  transition: cubic-bezier(0.86, 0, 0.07, 1);
}

/*********************
End: Navigation bar
**********************/

/*************************
Start: Carousel Section
*************************/


.announcement-bar {
  width: 100%;
  margin: auto;
  background-color: #12284C ;
  color: white;
  padding: 1px;
}

/*************************
End: Carousel Section
*************************/


#product_img {
  display: grid;
  grid-template-columns: repeat(2, 25%);
  width: 35%;
  height: 600px;
  margin-left: 12%;
  margin-top: 50px;
  float: left;
}
#product_img {
  cursor: zoom-in;
}

.side-img {
  width: 100px;
}

.side-img:hover {
  border: 1px solid #000;
}

.side-img:focus {
  border: 1px solid #000;
}

.page_navigator {
  margin-left: 13%;
  margin-top: 25px;
  padding: 0 10px;
  font-family: Montserrat Light,sans-serif;
}
.page_navigator span {
    font-family: Montserrat Semi Bold,sans-serif;
    color: #12284c;
    font-weight: bold;
}

div > img:hover {
  border: 1px solid #777;
  cursor: pointer;
}

.quantitySelector_btn {
  border: 1px solid #dcdcdc;
  height: 40px;
  width: 40px;
  /* display: inline-block; */
  cursor: pointer;
  background-color: #f8f8f8;
  font-size: large;
  font-weight: inherit;
  font-family: Montserrat Regular, sans-serif;
  float: left;
}
.product_count {
  height: 25px;
  width: 40px;
  border: 1px;
  text-align: center;
  float: left;
  padding-top: 13px;
  border: 1px solid #dcdcdc;
  color: #5E769B;
}
#product_content {
  width: 40%;
  height: 600px;
  float: right;
  margin-top: 50px;
}

#product_deatils {
  width: 70%;
  font-family: Montserrat Light, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #12284c;
  background: #fff;
  line-height: 1.65;
}
#product_deatils h1 {
  font-size: 20px;
  line-height: 26px;
  font-family: Montserrat Regular, sans-serif;
  letter-spacing: 0.6px;
  font-weight: inherit;
}
#product_deatils h2 {
  font-size: 14px;
  font-family: Montserrat Regular, sans-serif;
  color: #12284c;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#add_to_bag {
  border: 1px solid #dcdcdc;
  background-color: #12284c;
  color: white;
  width: 68%;
  height: 42px;
  margin-left: 3%;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
}

#add_to_bag:active {
  background-color: #5E769B;
}
.detail_line {
  margin-top: 15px;
  margin-bottom: 30px;
  border-bottom: 0.5px solid #dcdcdc;
  padding-bottom: 20px;
}
.container {
  font-family: "montserratlight", Klarna Text, "Klarna Sans", "Helvetica Neue",
    Arial, Helvetica, sans-serif;
  text-align: center;
  color: #12284c;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #979797;
  border-radius: 0px;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#wishlist_btn {
  /* position: relative; */
  color: #12284c !important;
  cursor: pointer;
  padding: 15px 15px 15px 0px;
  border: 0px solid #dcdcdc;
  width: 100%;
  height: auto;
  stroke: #12284c;
  background-color: #fff !important;
  font-size: 16px;
  max-height: 44px;
  display: flex;
  text-transform: none;
  font-family: Montserrat Regular, sans-serif !important;
  text-indent: 0;
  margin-top: 50px;
}

.shipping_detail {
  margin-top: 10px;
  font-family: Montserrat Medium, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
}


#product_specification{
  clear: both;
  width: 70%;
  margin: auto;
  /* padding-top: 3%; */
}

.ProductTabs__Heading {
  font-family: Montserrat Medium,sans-serif;
  color: #12284c;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2px;
  border-bottom: 2px solid #dcdcdc;
  margin-top: 10px;
}
.ProductTabs__Heading p {
  font-family: Montserrat Light,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #12284c;
    background: #fff;
    line-height: 1.65;
    margin-left: 60px;
}



/****************************
Start: Footer part
****************************/

.footer-part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 30px;
  border-top: 2px solid #DCDCDC;
  /*background-color: #769ad3;*/
}

.newsletter {
  /*flex-basis: 300px;*/
  flex: 0 1 auto; /* SOMETHING IS GOING WRONG ON DECREASING WINDOW WIDTH */
  margin: 0px 20px;
  max-width: 50ch;
  min-width: 30ch;
  /*background-color: burlywood;*/
}

.newsletter > .icons {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
  max-width: 90%;
  font-size: 30px;
  color: #12284C;
}

.footer-navwrap {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  /*background-color: brown;*/
  justify-content: space-between;
  min-width: 600px; /* CHANGE THIS IN FUTURE TO MAKE IT PROPERLY RESPONSIVE*/
}

.footer-navwrap > * {
  justify-items: space-between;
  flex-basis: 100%;
  margin-bottom: 5px;
  /*background-color: aqua;*/
  color: #12284C;
  /*overflow: visible;*/
  font-weight: normal;    
}

.footer-navwrap > div > * > * {
  margin: 20px auto;
}
.footer-navwrap ul, .footer-navwrap li a{
  color: #12284C;
  list-style-type: none;
  padding: 0px;
  text-decoration: none;
}

.footer-mail {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #12284C;
}

.footer-mail:focus {
  outline: none;
}

#arrow-submit-btn {
  border: none;
  outline: none;
  /*border-bottom: 1px solid #12284C;*/
  margin: 0px;
  padding: 0px;
  height: 30px;
  background-color: white;
}

#arrow-submit-btn:hover {
  cursor: pointer;
}

#mail-submission-success-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  text-align: center;
  color: #12284C;
  transition: 2s;
}

#mail-submission-success-overlay > div{
  font-size: 20px;
  width: 300px;
  height: 300px;
  padding: 50px;
  margin: 5% auto;
  /*align-content: center;*/
  background-color: white;
  border-radius: 15px;
  
}

#mail-submission-success-overlay > div > img {
  width: 50px;
  margin-top: 50px;
}

#hide-overlay {
  color: #12284C;
  color: #12284C;
  border: 2px solid #12284C;
  border-radius: 10px;
  width: 45%;
  margin: auto;
  /* height: 40px; */
  padding: 10px;
  font-size: 20px;
}

#hide-overlay:hover {
  cursor: pointer;
  background-color: #12284C;
  color: white;
}

.footer-mail:focus {
  background-color: white;
}

.specials {
  display: flex;
  /*flex: 0 1 0%;*/
  /*background-color: darksalmon;*/
  padding: 2%;
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

.specials > div {
  align-self: center;
  margin: 25px;
  /*background-color: darkseagreen;*/
  flex-basis: 100%;
  text-align: center;
}

.specials > div > img {
  width: 100%;
  object-fit: cover;
}

.context {
  width: 70%;
  margin: auto;
  /*background-color: darkslategray;*/
}