/*********************
Body
*********************/

body {
    font-family: Montserrat light,sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #12284C;
    margin: 0;
    padding: 0;
}

/*********************
Start: Navigation bar
**********************/

#main_nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0px 0px 3px 0px #12284C; */
    border-bottom: 2px solid #DCDCDC;
    background-color: white;
    text-transform: uppercase;
    font-family: Montserrat Medium,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.top_part {
    display: flex;
    padding: 10px 50px;
}

.top_part > div {
    margin: 2px;
    flex-basis: 100%;
}

.bottom_part {
    clear: both;
}

.top_part ul, .bottom_part ul{
    display: flex;
    margin: 0px;
    list-style-type: none;
    flex: 1 1 0%;
    padding: 0px;
}

.top_part ul > li {
    justify-self: center;
    flex-basis: 100%;
    /*flex-wrap: nowrap;*/
    height: 30px;
}

.bottom_part ul li {
    margin: 1px;
    flex-basis: 100%;
}

.main_menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    flex: 1 1 0%;
    font-size: 16px;
}

.main_menu li:hover {
    border-bottom: 3px solid #12284C;
}

.top_part ul li a, .bottom_part ul li a {
    text-decoration: none;
    text-align: center;
    color: #5E769B;
    /*padding-left: 7px;
    padding-right: 20px;*/
    box-sizing: border-box;
    width: 100%;
}

.navItem {
    width: 80%;
    right: 0;
    float: right;
}

.navItem li {
    margin: 1px;
    text-align: center;
    padding: 3px;
}

.navItem li a i, .top_part .location a i {
    font-size: 20px;
}

.location a {
    text-decoration: none;
    color: #12284C;
}

.logo img {
    min-width: 150px;
    max-width: 200px;
}

.logo { 
    align-self: center;
    flex-shrink: 2;
}

.navItem > li:hover {
    color: #12284C;
    transition: cubic-bezier(0.86, 0, 0.07, 1);
}

/*********************
End: Navigation bar
**********************/

/*************************
Start: Carousel Section
*************************/


.announcement-bar {
    width: 100%;
    margin: auto;
    background-color: #12284C ;
    color: white;
    padding: 1px;
}

/*************************
End: Carousel Section
*************************/


/*************************
Start: New Arrivals
*************************/

.new-arrivals #arrival{
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
    padding: 2%;
}

.product-disp {
    padding: 2%;
}

.product-image-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto 9%;
}

.product-image-slider > #prevSlider-btn,#nextSlider-btn {
    width: 50px;
    cursor: pointer;
}

#products {
    display: flex;
    text-align: center;
}

#products img {
    width: 90%;
}

.description-container {
    display: flex;
    align-items: center;
    color: #12284C;
    font-size: 20px;
}

.description-container > * {
    flex-basis: 100%;
    margin: 10px;
    padding: 50px;
}

.text-center {
    text-align: center;
}

.extra-img {
    width: 70%;
    margin: auto 100px;
}

/****************************
End: New Arrivals
****************************/


/****************************
Start: Footer part
****************************/

.footer-part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 30px;
    border-top: 2px solid #DCDCDC;
}

.newsletter {
    flex: 0 1 auto; /* SOMETHING IS GOING WRONG ON DECREASING WINDOW WIDTH */
    margin: 0px 20px;
    max-width: 50ch;
    min-width: 30ch;
}

.newsletter > .icons {
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
    max-width: 90%;
    font-size: 30px;
    color: #12284C;
}

.footer-navwrap {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: space-between;
    min-width: 600px; /* CHANGE THIS IN FUTURE TO MAKE IT PROPERLY RESPONSIVE*/
}

.footer-navwrap > * {
    justify-items: space-between;
    flex-basis: 100%;
    margin-bottom: 5px;
    color: #12284C;
    font-weight: normal;    
}

.footer-navwrap h2 {
    font-weight: normal;
    font-size: 14px;
    font-family: Montserrat light,sans-serif;
    text-transform: uppercase;
}

.footer-navwrap > div > * > * {
    margin: 16px auto;
}
.footer-navwrap ul, .footer-navwrap li a{
    color: #12284C;
    list-style-type: none;
    padding: 0px;
    text-decoration: none;
}

.footer-mail {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #12284C;
}

.footer-mail:focus {
    outline: none;
}

#arrow-submit-btn {
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    height: 30px;
    background-color: white;
}

#arrow-submit-btn:hover {
    cursor: pointer;
}

#mail-submission-success-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    color: #12284C;
    transition: 2s;
}

#mail-submission-success-overlay > div{
    font-size: 20px;
    width: 300px;
    height: 300px;
    padding: 50px;
    margin: 5% auto;
    background-color: white;
    border-radius: 15px;
    
}

#mail-submission-success-overlay > div > img {
    width: 50px;
    margin-top: 50px;
}

#hide-overlay {
    color: #12284C;
    border: 2px solid #12284C;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    /* height: 40px; */
    padding: 10px;
    font-size: 20px;
}

#hide-overlay:hover {
    cursor: pointer;
    background-color: #12284C;
    color: white;
}

.footer-mail:focus {
    background-color: white;
}

.specials {
    display: flex;
    padding: 2%;
}


/******************************
Special Gifts context display
******************************/
.specials h2 {
    font-size: 14px;
    font-family: Montserrat Semi Bold,sans-serif;
    letter-spacing: .5px;
    font-weight: 600;
}

.specials > div {
    align-self: center;
    margin: 25px;
    flex-basis: 100%;
    text-align: center;
}

.specials > div > img {
    width: 100%;
    object-fit: cover;
}

.browse-now {
    text-decoration: underline;
}

.context {
    width: 70%;
    margin: auto;
}

/*****************************
Start: Dropdown on hover
******************************/

.menu {
    margin: auto;
    display: flex;
    list-style: none;
  }
  .menu a {
    position: relative;
    z-index: 2;
    display: block;
    letter-spacing: 0.01rem;
    padding: 0.7rem 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: 0.2s;
  }

.menu a:hover {
    background: #ffffff;
    color: #12284c;
    font-weight: 500;
  }

  .dropdown > a {
    display: flex;
    align-items: center;
  }

  .dropdown:hover .dropdown-nav {
    opacity: 1;
    border-top: 1px solid #5E769B;
    transform: translateY(0);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
  }

  .dropdown-nav {
    flex-direction: column;
    opacity: 0;
    transition: transform 0.3s cubic-bezier(0.88, -0.72, 0, 1), opacity 0.3s ease-in-out;
    /* transform: translateY(-1rem); */
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    background: #fffefe;
  }

  .dropdown-nav a {
    font-weight: 300;
    font-size: 14px;
  } 

  .dropdown-nav li:hover {
      border: none;
  }

  .dropdown-nav li a:hover {
      font-weight: 900;
  }

/*****************************
Start: Dropdown on hover
******************************/